

.bookings {
    padding: 20px;
    display: grid;
    gap: 5em;
}
.container{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px 35px;
}
.add_customer{
    position: fixed;
    top: 70px;
    left: 490px;
}

form {
    grid-gap: 5px 35px;
    max-width: 500px;
    position: relative; 
    margin-top: 1rem;
}
label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    width: 100%; 
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.submit_button{
    margin-left:  30px;
    text-align: center;
    width: 15rem;
    margin-top: 1rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #5f74eb;
    padding: 20px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.open-modal-button{
    width: 20rem;
}
.close-modal-button {
    position: relative; 
    bottom: 270px;
    left:  -50px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #ff0000;
    transition: transform 0.3s ease-in-out;
    outline: none;

    &:hover, 
    &:focus{
        transform: scale(1.75);
        background: none;
        outline: none;
    }
}
