.app {
  height: auto;
  gap: 4rem;
  &__cards{
    height: 20rem;
    display: flex;
    gap:1rem;
  }

}
.app {
  display: grid;
  max-width: var(--space--container);
  margin: auto;
  padding: var(--space--gap);
}
