.app {
  &__header {
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__heading {
    height: 5rem;
  }

  &__logo {
    position: absolute;
    left: 0;
    height: 6rem;
    width: 6rem;
  }
}

